[Unit]
Description=FLASH periodic restart sript


[Service]
ExecStart=/bin/bash /home/flashsysXXX/Desktop/flash_periodic_restart.sh
StandardOutput=file:/var/log/XXX_flash_logstdoutp.log
StandardError=file:/var/log/XXX_flash_logstderrp.log

[Install]
WantedBy=multi-user.target

