[Unit]
Description=FLASH periodic restart sript


[Service]
ExecStart=/bin/bash /home/flashsysXXX/flash-tv-scripts/flash_periodic_restart.sh
StandardOutput=append:/home/flashsysXXX/data/123XXX_data/123XXX_flash_logstdoutp.log
StandardError=append:/home/flashsysXXX/data/123XXX_data/123XXX_flash_logstderrp.log

[Install]
WantedBy=multi-user.target

