[Unit]
Description=Home Assistant
StartLimitIntervalSec=0

[Service]
Type=simple
User=%i
WorkingDirectory=/home/flashsys%i/.homeassistant
ExecStart=/home/flashsys%i/ha/bin/hass -c "/home/flashsys%i/.homeassistant"
StandardOutput=append:/home/%i/ha/123%i_ha_logstdout.log
StandardError=append:/home/%i/ha/123%i_ha_logstderr.log
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
