[Unit]
Description=FLASH periodic restart script
StartLimitIntervalSec=0
After=flash-run-on-boot.service

[Service]
ExecStart=/bin/bash /home/flashsys008/flash-tv-scripts/services/flash_periodic_restart.sh
StandardOutput=append:/home/flashsys008/data/P1-3344008_data/P1-3344008_flash_logstdoutp.log
StandardError=append:/home/flashsys008/data/P1-3344008_data/P1-3344008_flash_logstderrp.log
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
