[Unit]
Description=FLASH periodic restart script
StartLimitIntervalSec=0

[Service]
ExecStart=/bin/bash /home/flashsysXXX/flash-tv-scripts/services/flash_periodic_restart.sh
StandardOutput=append:/home/flashsysXXX/data/123XXX_data/123XXX_flash_logstdoutp.log
StandardError=append:/home/flashsysXXX/data/123XXX_data/123XXX_flash_logstderrp.log
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
