[Unit]
Description=FLASH-TV startup script
StartLimitIntervalSec=0

## VERY IMPORTANT TO Modify the username correctly
[Service]
ExecStart=/bin/bash /home/flashsysXXX/flash-tv-scripts/services/flash_run_on_boot.sh
StandardOutput=append:/home/flashsysXXX/data/123XXX_data/123XXX_flash_logstdout.log
StandardError=append:/home/flashsysXXX/data/123XXX_data/123XXX_flash_logstderr.log
Restart=always
RestartSec=5


[Install]
WantedBy=multi-user.target

